/* Reset some default styles */
body, h1, h2, h3, p, blockquote, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
nav {
    background-color: rgb(176, 60, 238);
    padding: 10px;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #e3e9ef;
    font-size: large;
    margin-right: 40px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    margin-top: 30px;
    margin-left: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  /* About section styles */
  .about-section {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 100px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .see-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e8840a; 
    /* color: #fff; */
    text-decoration: none;
  }

  
  .about-text {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c080c;
  }
  
  .profile-pic {
    flex: 1;
    overflow: hidden;
    text-align: right;
    margin-right: 20px;
    
  }

  .profile-pic img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 20px;
    margin-right: 100px;
  }
  
  /* Event section styles */

  .event-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .event-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .event-box {
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  
  .event-box img {
    max-width: 100%;
    height: auto;
  }
  
  /* Quote section styles */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  height: 200px;
}

.quote-box {
  max-width: 600px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin: 0 20px;
}

.quote-box blockquote {
  margin: 0;
}

.quote-author {
  display: block;
  text-align: right;
  margin-top: 10px;
}

/* Action box */

.call-to-action-section {
  background-color: #ffffff; 
  padding: 40px 0;
  text-align: center;
}

.call-to-action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  background-color: #52af50;
  padding: 20px;
  border-radius: 8px;
}

.cta-content {
  margin-bottom: 20px;
}

.cta-content h2,
.cta-content p {
  color: #ffffff; 
  margin: 0;
}

.cta-button {
  display: inline-block;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff; 
  color: #52af50; 
  text-decoration: none;
  border-radius: 4px;
}
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  